BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #c6cfd0; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Tahoma, sans-serif; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#wrap {
	BACKGROUND: url(../images/bg2.gif) repeat-y; MARGIN: 0px auto; WIDTH: 980px; TEXT-ALIGN: center
}
#wrap1 {
	MARGIN: 0px auto; WIDTH: 980px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A:active {
	COLOR: #004a9c; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.classlinkclass:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.classlinkclass:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.classlinkclass:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dddddd; TEXT-DECORATION: underline
}
A.classlinkclass:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dddddd; TEXT-DECORATION: underline
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 18px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.textbox {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND: #fffff0; MARGIN: 2px; FONT: 12px Tahoma, sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.button {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND: #f0f8ff; MARGIN: 2px; FONT: 12px Tahoma, sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.chinahtmlimg {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
.web {
	DISPLAY: none; FONT: 0px/0px sans-serif; WIDTH: 0px; COLOR: #ffffff; HEIGHT: 0px
}
.mainline {
	CLEAR: both; DISPLAY: block; BACKGROUND: #c6cfd0; FONT: 0px/0px sans-serif; WIDTH: auto; HEIGHT: 3px
}
.topline {
	CLEAR: both; DISPLAY: block; BACKGROUND: #ffffff; FONT: 0px/0px sans-serif; HEIGHT: 3px
}
.clear {
	CLEAR: both; FONT: 0px/0px sans-serif
}
.main {
	BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; MARGIN: auto; BORDER-LEFT: #ffffff 3px solid; WIDTH: 974px; BORDER-BOTTOM: #ffffff 3px solid
}
.maincolumn {
	MARGIN: 1px; WIDTH: 980px
}
.mainleft {
	TABLE-LAYOUT: fixed; PADDING-RIGHT: 3px; FLOAT: left; WIDTH: 776px
}
.mainright {
	TABLE-LAYOUT: fixed; FLOAT: right; WIDTH: 200px; TEXT-ALIGN: center
}
.listleft {
	PADDING-RIGHT: 3px; BACKGROUND: #c6cfd0; FLOAT: left; WIDTH: 286px
}
.listright {
	FLOAT: right; WIDTH: 286px; TEXT-ALIGN: center
}
.rightblock {
	CLEAR: both; BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; BACKGROUND: #ffffff; MARGIN: 0px auto; BORDER-LEFT: #ffffff 3px solid; BORDER-BOTTOM: #ffffff 3px solid; TEXT-ALIGN: left
}
.righttitleico {
	BORDER-RIGHT: #ffffff 3px solid; BACKGROUND: url(../images/arrow.gif) #a6b0b6 no-repeat center 50%; FLOAT: left; WIDTH: 25px; HEIGHT: 25px
}
.righttitlename {
	FONT-WEIGHT: bold; BACKGROUND: #98b1c4; FLOAT: right; WIDTH: 166px; COLOR: #ffffff; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: left
}
.menu {
	COLOR: #00009c; TEXT-DECORATION: none
}
.red {
	COLOR: #ff3300
}
#quicknav {
	PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 3px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 3px; HEIGHT: 121px; TEXT-ALIGN: center
}
#quicknav UL {
	DISPLAY: inline; MARGIN: 0px 0px 0px 5px; COLOR: #dedede
}
#quicknav UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: url(../images/ico.gif) no-repeat 4px 5px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 49px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 20px
}
#quicknav UL LI A {
	COLOR: #000000
}
#quicknav UL LI A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
#search {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 0px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#flist {
	CLEAR: both; BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; BACKGROUND: #ffffff; MARGIN: 0px auto; BORDER-LEFT: #ffffff 3px solid; BORDER-BOTTOM: #ffffff 3px solid; TEXT-ALIGN: left
}
.ftitleico {
	BORDER-RIGHT: #ffffff 3px solid; BACKGROUND: url(../images/arrow.gif) #999999 no-repeat center 50%; FLOAT: left; WIDTH: 25px; HEIGHT: 25px
}
.ftitlebg {
	BACKGROUND: #999999; FLOAT: right; WIDTH: 541px; COLOR: #ffffff; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: left
}
.ftitlename {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 475px; TEXT-ALIGN: left
}
.ftitlemore {
	FLOAT: right; WIDTH: 61px
}
#flinks {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 569px; PADDING-TOP: 4px; HEIGHT: 50px
}
#flinks A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 63px! important; PADDING-TOP: 0px; HEIGHT: 20px
}
#fplinks {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 0px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 569px; PADDING-TOP: 4px; HEIGHT: 33px
}
#fplinks A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 88px! important; PADDING-TOP: 0px; HEIGHT: 33px
}
.hezuo {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 0px; BACKGROUND: #f8f8f8; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 137px; TEXT-ALIGN: center
}
.hezuo LI {
	FLOAT: left; MARGIN: 0px 0px 2px; WIDTH: 94px; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
.hezuo A {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: #f6f6f6; BORDER-LEFT: #dddddd 1px solid; WIDTH: 94px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.hezuo A:link {
	BACKGROUND: #f6f6f6; COLOR: #000000; TEXT-DECORATION: none
}
.hezuo A:visited {
	BACKGROUND: #f6f6f6; COLOR: #000000; TEXT-DECORATION: none
}
.hezuo A:hover {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #ff6600 1px solid; COLOR: #000000; BORDER-BOTTOM: #ff6600 1px solid; TEXT-DECORATION: none
}
.hezuo A:active {
	BORDER-RIGHT: #666699 1px solid; BORDER-TOP: #666699 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #666699 1px solid; COLOR: #000000; BORDER-BOTTOM: #666699 1px solid; TEXT-DECORATION: none
}
.indextoollist {
	PADDING-RIGHT: 4px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 4px; BACKGROUND: #f8f8f8; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 163px; TEXT-ALIGN: left
}
.indextoollist UL {
	DISPLAY: inline; MARGIN: 0px 0px 0px 5px; COLOR: #dedede; LIST-STYLE-TYPE: none
}
.indextoollist LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(../images/dotli.gif) no-repeat 0px 0px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; COLOR: #8e8e8e; PADDING-TOP: 4px; BORDER-BOTTOM: #dddddd 1px solid
}
#indexform {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: auto; WIDTH: 974px; PADDING-TOP: 3px; HEIGHT: 90px
}
.formleft {
	BACKGROUND: url(../images/ch0108.jpg) no-repeat 0px 0px; FLOAT: left; WIDTH: 386px; HEIGHT: 90px
}
.formright {
	FLOAT: right; MARGIN-LEFT: 3px
}
.search_pannel {
	BORDER-RIGHT: #b8cba1 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b8cba1 1px solid; PADDING-LEFT: 3px; BACKGROUND: url(../images/search_icon.gif) #efffe2 no-repeat 8px 5px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; BORDER-LEFT: #b8cba1 1px solid; WIDTH: 375px; PADDING-TOP: 2px; BORDER-BOTTOM: #b8cba1 1px solid; HEIGHT: 48px
}
.search_pannel_text {
	PADDING-LEFT: 16px; BACKGROUND: url(../images/search.png) #fff no-repeat 3px center; WIDTH: 84px; HEIGHT: 17px
}
.search_pannel_bottom {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.search_pannel_title {
	PADDING-RIGHT: 8px; PADDING-LEFT: 28px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 300px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-ALIGN: left
}
.login_pannel {
	BORDER-RIGHT: #dad4be 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dad4be 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #f8f3e1; PADDING-BOTTOM: 0px; BORDER-LEFT: #dad4be 1px solid; WIDTH: 375px; COLOR: #5b607e; PADDING-TOP: 3px; BORDER-BOTTOM: #dad4be 1px solid; HEIGHT: 28px
}
.login_pannel INPUT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: url(../images/bg_input.gif) #fff repeat-x; VERTICAL-ALIGN: middle; BORDER-LEFT: #999 1px solid; WIDTH: 60px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 18px
}
.login_pannel .button {
	WIDTH: 60px; HEIGHT: 20px
}
#header {
	BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; BACKGROUND: #ffffff; MARGIN: 0px auto; BORDER-LEFT: #ffffff 3px solid; WIDTH: 974px; BORDER-BOTTOM: #ffffff 3px solid; TEXT-ALIGN: center
}
#topmenu {
	BACKGROUND: #eeeeee; MARGIN: 0px auto; HEIGHT: 30px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
#topdate {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 8px
}
#topnavlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topnavlist UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 8px
}
#topnavlist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; BACKGROUND: url(../images/topnav.gif) no-repeat 0px 2px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 65px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#topnavlist A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; COLOR: #333333; TEXT-DECORATION: none
}
#topnavlist A:hover {
	FONT-SIZE: 12px; COLOR: #888888
}
#topnavlist A:active {
	FONT-SIZE: 12px; COLOR: #888888
}
#maintop {
	BACKGROUND: #f8f8f8; MARGIN: 3px 0px; WIDTH: 974px; HEIGHT: 60px; TEXT-ALIGN: center
}
#Logo {
	FLOAT: left; WIDTH: 180px
}
#TopAds {
	FLOAT: left; WIDTH: 502px; TEXT-ALIGN: center
}
#toprightmenu {
	FLOAT: right; WIDTH: 90px; TEXT-ALIGN: center
}
#toprightmenu LI {
	MARGIN: 0px 0px 1px; LINE-HEIGHT: 19px; LIST-STYLE-TYPE: none
}
#toprightmenu LI A {
	BORDER-RIGHT: #cccccc 6px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #fbf2ee; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 6px solid; COLOR: #666666; PADDING-TOP: 0px; HEIGHT: 19px; TEXT-DECORATION: none
}
#toprightmenu LI A:hover {
	BORDER-RIGHT: #666666 6px solid; BACKGROUND: #98b1c4; BORDER-LEFT: #666666 6px solid; COLOR: #ffffff
}
.navline {
	CLEAR: both; BACKGROUND: #ffffff; FONT: 0px/0px sans-serif; HEIGHT: 1px
}
.navup {
	BACKGROUND: #ffffff; WIDTH: 974px; HEIGHT: 60px; TEXT-ALIGN: center
}
.navdown {
	BACKGROUND: #ffffff; WIDTH: 974px; HEIGHT: 60px; TEXT-ALIGN: center
}
#nav-up-center {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #7ec0ee; FLOAT: left; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 172px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
#nav-up-left {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 974px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
#nav-up-right {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #e0e9fe; FLOAT: right; PADDING-BOTTOM: 4px; WIDTH: 156px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
#nav-down-center {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #87ceff; FLOAT: left; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 172px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
#nav-down-left {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #63b8ff; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 430px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
#nav-down-right {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #eaf2ff; FLOAT: right; PADDING-BOTTOM: 4px; WIDTH: 156px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
A.grey:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5c5c5c; TEXT-DECORATION: none
}
A.grey:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5c5c5c; TEXT-DECORATION: none
}
A.grey:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A.grey:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A.white:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dddddd; TEXT-DECORATION: none
}
A.white:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dddddd; TEXT-DECORATION: none
}
#footer {
	BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; MARGIN: 0px auto; BORDER-LEFT: #ffffff 3px solid; WIDTH: 974px; BORDER-BOTTOM: #ffffff 3px solid; TEXT-ALIGN: center
}
#bottommenu {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 9px; MARGIN: 0px auto; WIDTH: 956px; PADDING-TOP: 9px
}
#bottom {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 5px; MARGIN: 0px auto; WIDTH: 964px; LINE-HEIGHT: 180%; PADDING-TOP: 5px; HEIGHT: 60px
}
#bottom SPAN {
	FONT: 11px arial,helvetica,sans-serif
}
#newsview {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.pagelist {
	CLEAR: both; BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; BACKGROUND: #ffffff; MARGIN: auto; BORDER-LEFT: #ffffff 3px solid; BORDER-BOTTOM: #ffffff 3px solid; TEXT-ALIGN: left
}
.pagelisttitleico {
	BORDER-RIGHT: #ffffff 3px solid; BACKGROUND: url(../images/arrow.gif) #98b1c4 no-repeat center 50%; FLOAT: left; WIDTH: 25px; HEIGHT: 25px
}
.pagelisttitlebg {
	BACKGROUND: #71828a; FLOAT: right; WIDTH: 744px; COLOR: #ffffff; HEIGHT: 25px; TEXT-ALIGN: left
}
.pagelisttitlename {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 696px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.pagelisttitlename A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.pagelisttitlename A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.pagelisttitlename A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.pagelisttitlename A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.pagelisttitlemore {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 40px; PADDING-TOP: 8px
}
.pagecontent {
	TABLE-LAYOUT: fixed; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 5px; MARGIN: 0px auto; OVERFLOW: visible; WORD-BREAK: break-all; LINE-HEIGHT: 180%; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.content {
	PADDING-LEFT: 4px; FONT-SIZE: 10.5pt; MARGIN: auto; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
.articlecontent {
	PADDING-LEFT: 4px; FONT-SIZE: 10.5pt; MARGIN: auto; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
.pagecontent A:link {
	COLOR: #3080cb; BORDER-BOTTOM: #68c3ee 1px dotted; TEXT-DECORATION: none
}
.content A:link {
	COLOR: #3080cb; BORDER-BOTTOM: #68c3ee 1px dotted; TEXT-DECORATION: none
}
.articlecontent A:link {
	COLOR: #3080cb; BORDER-BOTTOM: #68c3ee 1px dotted; TEXT-DECORATION: none
}
.pagecontent A:visited {
	COLOR: #3080cb; BORDER-BOTTOM: #68c3ee 1px dotted; TEXT-DECORATION: none
}
.content A:visited {
	COLOR: #3080cb; BORDER-BOTTOM: #68c3ee 1px dotted; TEXT-DECORATION: none
}
.articlecontent A:visited {
	COLOR: #3080cb; BORDER-BOTTOM: #68c3ee 1px dotted; TEXT-DECORATION: none
}
.pagecontent A:hover {
	COLOR: #fff; BORDER-BOTTOM: #68c3ee 1px dotted; BACKGROUND-COLOR: #3080cb; TEXT-DECORATION: none
}
.content A:hover {
	COLOR: #fff; BORDER-BOTTOM: #68c3ee 1px dotted; BACKGROUND-COLOR: #3080cb; TEXT-DECORATION: none
}
.articlecontent A:hover {
	COLOR: #fff; BORDER-BOTTOM: #68c3ee 1px dotted; BACKGROUND-COLOR: #3080cb; TEXT-DECORATION: none
}
.title {
	BORDER-RIGHT: #e9e9e9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e9e9e9 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 5px; MARGIN: 2px; BORDER-LEFT: #e9e9e9 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e9e9 1px solid
}
.title H1 {
	FONT-SIZE: 14px; MARGIN: 5px; COLOR: #669900
}
.title H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 5px
}
.keyword {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 14px; PADDING-BOTTOM: 6px; MARGIN: 15px; BORDER-LEFT: #ccc 1px solid; COLOR: #1f3a87; LINE-HEIGHT: 26px; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.pagelistfooter {
	BACKGROUND: #71828a; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 974px; COLOR: #ffffff; HEIGHT: 30px; TEXT-ALIGN: center
}
.pagelistfooter DIV {
	MARGIN-TOP: 7px; COLOR: #ffffff
}
.pagelistfooter #prv {
	FLOAT: left; MARGIN-LEFT: 25px
}
.pagelistfooter #next {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.pagelistfooter DIV A {
	COLOR: #ffffff
}
.pagelistfooter DIV A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.pagelistfooter DIV A:visited {
	COLOR: #eeeeee
}
.pagelistfooter .right {
	FLOAT: right; MARGIN-RIGHT: 5px; POSITION: relative; TOP: -2px
}
.pagelistfooter #bklist {
	FLOAT: left; MARGIN-LEFT: 5px
}
.pagelistfooter .left {
	FLOAT: left; MARGIN-LEFT: 5px
}
.next {
	CLEAR: both; MARGIN-TOP: 7px; MARGIN-LEFT: 20px
}
.tool {
	BORDER-RIGHT: #d6efff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6efff 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #eff7ff; PADDING-BOTTOM: 0px; BORDER-LEFT: #d6efff 1px solid; LINE-HEIGHT: 200%; PADDING-TOP: 0px; BORDER-BOTTOM: #d6efff 1px solid; HEIGHT: 30px
}
.tool SPAN {
	FLOAT: right; WIDTH: 480px; WORD-BREAK: break-all; WORD-WRAP: break-word
}
.tool A.button_content {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; MARGIN: 0px 3px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 75px; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center
}
.tool A.button_content:hover {
	BORDER-LEFT-COLOR: #000000; BACKGROUND: #cccccc; BORDER-BOTTOM-COLOR: #ffffff; COLOR: #333333; BORDER-TOP-COLOR: #000000; LINE-HEIGHT: 250%; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ffffff
}
.tool A.button_content:active {
	BACKGROUND: #d9d9d9; COLOR: #000000; LINE-HEIGHT: 250%; TEXT-DECORATION: none
}
.tool A.button_content:link {
	BACKGROUND: #d9d9d9; COLOR: #000000; LINE-HEIGHT: 250%; TEXT-DECORATION: none
}
.tool A.button_content:visited {
	BACKGROUND: #d9d9d9; COLOR: #000000; LINE-HEIGHT: 250%; TEXT-DECORATION: none
}
.heading {
	BORDER-RIGHT: #dde1e3 1px solid; BORDER-TOP: #dde1e3 1px solid; BACKGROUND: #eef0f1; MARGIN: 5px 0px; BORDER-LEFT: #dde1e3 1px solid; BORDER-BOTTOM: #dde1e3 1px solid
}
.heading H1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/ico_h1.png) no-repeat 5px 7px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 25px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid
}
.comment H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 12px; BACKGROUND: url(../images/ico_news.png) #eeeeee no-repeat 3px 4px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px; COLOR: #333333; PADDING-TOP: 4px
}
.comment H3 SPAN {
	MARGIN: 0px 0px 0px 15px; COLOR: #666666
}
.comment P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-SIZE: 12px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #333333; LINE-HEIGHT: 15px; PADDING-TOP: 8px
}
.comment DIV.border {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.code {
	BORDER-RIGHT: #0fb1ff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #0fb1ff 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #ddf4ff; PADDING-BOTTOM: 3px; MARGIN: 5px 0px; BORDER-LEFT: #0fb1ff 1px solid; WIDTH: 540px; COLOR: #0070a6; LINE-HEIGHT: 150%; PADDING-TOP: 3px; BORDER-BOTTOM: #0fb1ff 1px solid; TEXT-ALIGN: left; WORD-WRAP: break-word
}
.code STRONG {
	COLOR: #993300
}
.code TEXTAREA {
	BORDER-TOP-WIDTH: 0px; OVERFLOW-Y: scroll; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; OVERFLOW-X: hidden; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 540px; LINE-HEIGHT: 150%; HEIGHT: 200px; BORDER-RIGHT-WIDTH: 0px
}
.mainadimg {
	BORDER-RIGHT: #fff 3px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 3px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #fff 3px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 3px solid
}
.navadimg {
	BORDER-RIGHT: #fff 3px solid; BORDER-TOP: #fff 3px solid; BORDER-LEFT: #fff 3px solid; WIDTH: 569px; BORDER-BOTTOM: #fff 3px solid; HEIGHT: 80px
}
.subadimg {
	BORDER-RIGHT: #fff 3px solid; BORDER-TOP: #fff 3px solid; BORDER-LEFT: #fff 3px solid; WIDTH: 280px; BORDER-BOTTOM: #fff 3px solid; HEIGHT: 60px
}
.textad {
	CLEAR: both; BORDER-RIGHT: #fff 3px solid; BORDER-TOP: #fff 3px solid; FLOAT: left; MARGIN: 0px auto; BORDER-LEFT: #fff 3px solid; WIDTH: 569px; BORDER-BOTTOM: #fff 3px solid; HEIGHT: 63px
}
.textadleft {
	BORDER-RIGHT: #fff 3px solid; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 25px; COLOR: #fff; LINE-HEIGHT: 21px; HEIGHT: 63px; BACKGROUND-COLOR: #5f84a7; TEXT-ALIGN: center
}
.textadright {
	FLOAT: right; WIDTH: 541px; HEIGHT: 63px; TEXT-ALIGN: left
}
#adlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; HEIGHT: 63px; BACKGROUND-COLOR: #d1f1fe
}
#adlist UL {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
#adlist UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../images/reddot.gif) no-repeat 0px 8px; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 165px; PADDING-TOP: 3px
}
#adlist UL LI A {
	COLOR: #000000
}
#adlist UL LI A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
#adheader {
	CLEAR: both; BORDER-RIGHT: #ff6600 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ff6600 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: #ffebcd; PADDING-BOTTOM: 0px; BORDER-LEFT: #ff6600 1px solid; COLOR: #ff0000; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #ff6600 1px solid; TEXT-ALIGN: center
}
#adshuoming {
	CLEAR: both; PADDING-RIGHT: 3px; MARGIN-TOP: 3px; PADDING-LEFT: 3px; FONT-SIZE: 14px; BACKGROUND: #bfefff; PADDING-BOTTOM: 3px; COLOR: #000; LINE-HEIGHT: 180%; PADDING-TOP: 3px
}
#adshuoming SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000
}
.adtitle {
	CLEAR: both; BORDER-RIGHT: #87cefa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #87cefa 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #eff7ff; PADDING-BOTTOM: 0px; BORDER-LEFT: #87cefa 1px solid; COLOR: #cd2990; LINE-HEIGHT: 25px; PADDING-TOP: 0px; BORDER-BOTTOM: #87cefa 1px solid; TEXT-ALIGN: center
}
.adcontent {
	CLEAR: both; BORDER-TOP: #ffffff 3px solid; FONT-SIZE: 14px; BACKGROUND: #f1f1f1; BORDER-BOTTOM: #ffffff 3px solid
}
.adleft {
	FLOAT: left; WIDTH: 257px
}
.adleft IMG {
	BORDER-TOP: #ffffff 1px solid
}
.adright {
	BACKGROUND: #c6e2ff; FLOAT: right; WIDTH: 515px
}
.adtable {
	BORDER-RIGHT: #fafafa 1px solid; BORDER-TOP: #fafafa 1px solid; MARGIN-TOP: 1px; BACKGROUND: #c6e2ff; BORDER-LEFT: #fafafa 1px solid; WIDTH: 515px; BORDER-BOTTOM: #fafafa 1px solid; BORDER-COLLAPSE: collapse
}
.adtabletop {
	FONT-WEIGHT: bold; BACKGROUND: #1e90ff; COLOR: #fff
}
.adtabletop TD {
	COLOR: #fff
}
.adtable TR {
	HEIGHT: 30px; TEXT-ALIGN: center
}
.adtable TD {
	TEXT-ALIGN: center
}
#adguiding {
	CLEAR: both; BORDER-RIGHT: #ff6a6a 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ff6a6a 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; BACKGROUND: #ffefdb; PADDING-BOTTOM: 3px; MARGIN: 3px 0px; BORDER-LEFT: #ff6a6a 1px solid; COLOR: #000; LINE-HEIGHT: 200%; PADDING-TOP: 3px; BORDER-BOTTOM: #ff6a6a 1px solid
}
#adguiding SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000
}
.self1 {
	FLOAT: left; WIDTH: 200px; TEXT-ALIGN: left
}
.self1 UL {
	
}
.ad760 {
	BORDER-RIGHT: #ffffff 9px solid; BORDER-LEFT: #ffffff 9px solid; WIDTH: 760px; HEIGHT: 60px
}
.ad76030 {
	BORDER-RIGHT: #ffffff 9px solid; BORDER-LEFT: #ffffff 9px solid; WIDTH: 760px; HEIGHT: 30px
}
.sublist {
	CLEAR: both; BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; BACKGROUND: #ffffff; MARGIN: 0px; BORDER-LEFT: #ffffff 3px solid; BORDER-BOTTOM: #ffffff 3px solid; TEXT-ALIGN: left
}
.sublisttitleico {
	BORDER-RIGHT: #ffffff 3px solid; BACKGROUND: url(../images/arrow.gif) #98b1c4 no-repeat center 50%; FLOAT: left; WIDTH: 25px; HEIGHT: 25px
}
.sublisttitlebg {
	BACKGROUND: #71828a; FLOAT: right; WIDTH: 742px; COLOR: #ffffff; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-ALIGN: left
}
.sublisttitlename {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 682px; TEXT-ALIGN: left
}
.sublisttitlename A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.sublisttitlename A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.sublisttitlename A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dddddd; TEXT-DECORATION: underline
}
.sublisttitlename A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dddddd; TEXT-DECORATION: underline
}
.localtitle {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 980px; TEXT-ALIGN: left
}
.sublisttitlemore {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 40px; PADDING-TOP: 8px
}
.subnewslist {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 5px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 559px; PADDING-TOP: 3px; HEIGHT: 398px
}
.subnewslist UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
.subnewslist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../images/li.gif) no-repeat 0px 2px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 269px; PADDING-TOP: 5px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 22px
}
.subnewslist LI A {
	OVERFLOW: hidden
}
.subnewslist LI A:hover {
	TEXT-DECORATION: underline
}
.onesubnewslist {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 5px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 559px; PADDING-TOP: 3px; HEIGHT: 398px
}
.onesubnewslist UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
.onesubnewslist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../images/li.gif) no-repeat 0px 2px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 549px; PADDING-TOP: 5px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 22px
}
.onesubnewslist LI A {
	OVERFLOW: hidden
}
.onesubnewslist LI A:hover {
	TEXT-DECORATION: underline
}
.onesubnewslist SPAN {
	PADDING-RIGHT: 5px; FLOAT: right; COLOR: #333
}
#sublistfooter {
	BACKGROUND: #71828a; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 569px; COLOR: #ffffff; TEXT-ALIGN: center
}
#sublistfooter DIV {
	MARGIN-TOP: 7px; COLOR: #ffffff
}
#sublistfooter #prv {
	FLOAT: left; MARGIN-LEFT: 25px
}
#sublistfooter #next {
	FLOAT: right; MARGIN-RIGHT: 5px
}
#sublistfooter DIV A {
	COLOR: #ffffff
}
#sublistfooter DIV A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#sublistfooter .right {
	FLOAT: right; MARGIN-RIGHT: 5px; POSITION: relative; TOP: -2px
}
#sublistfooter #bklist {
	FLOAT: left; MARGIN-LEFT: 5px
}
#sublistfooter .left {
	FLOAT: left; MARGIN-LEFT: 5px
}
.picrightlist {
	BACKGROUND: #f5f5f5; TEXT-ALIGN: center
}
.picrightlist UL {
	MARGIN: 0px; COLOR: #dedede; LIST-STYLE-TYPE: none
}
.picrightlist UL LI {
	MARGIN: 5px 0px 2px; LIST-STYLE-TYPE: none
}
.picrightlist UL LI A IMG {
	BORDER-RIGHT: #ffffff 2px solid; BORDER-TOP: #ffffff 2px solid; FILTER: progid:dximagetransform.microsoft.glow(color=#888888,strength=0); BORDER-LEFT: #ffffff 2px solid; BORDER-BOTTOM: #ffffff 2px solid; TEXT-ALIGN: center
}
.picrightlist UL LI A:hover IMG {
	BORDER-RIGHT: #42a1a7 2px solid; BORDER-TOP: #42a1a7 2px solid; BORDER-LEFT: #42a1a7 2px solid; BORDER-BOTTOM: #42a1a7 2px solid
}
.subrightlist {
	PADDING-RIGHT: 4px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 4px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 360px; TEXT-ALIGN: left
}
.subrightlist UL {
	MARGIN: 0px; COLOR: #dedede; LIST-STYLE-TYPE: none
}
.subrightlist LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(../images/dotli.gif) no-repeat 0px 0px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 15px
}
.pagerightlist {
	HEIGHT: 360px
}
#newsdaodu SPAN {
	FLOAT: right
}
#newsdaodu UL LI {
	LIST-STYLE-TYPE: none
}
#contentAdv {
	FLOAT: left; MARGIN: 4px 12px 0px 1px
}
UL.TabBarLevel1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(new/m_level.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 29px
}
UL.TabBarLevel1 LI {
	BACKGROUND: url(new/gray_l.gif) no-repeat left top; FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 29px
}
UL.TabBarLevel1 LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(new/gray_r.gif) no-repeat right top; PADDING-BOTTOM: 0px; COLOR: #333; LINE-HEIGHT: 29px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
UL.TabBarLevel1 LI.Selected {
	BACKGROUND: url(new/m_l.gif) no-repeat left top
}
UL.TabBarLevel1 LI.Selected A {
	BACKGROUND: url(new/m_r.gif) no-repeat right top
}
UL.TabBarLevel1 LI A:link {
	COLOR: #333
}
UL.TabBarLevel1 LI A:visited {
	COLOR: #333
}
UL.TabBarLevel1 LI A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
UL.TabBarLevel1 LI A:active {
	COLOR: #000; TEXT-DECORATION: underline
}
UL.TabBarLevel1 LI.Selected A:link {
	COLOR: #fff
}
UL.TabBarLevel1 LI.Selected A:visited {
	COLOR: #fff
}
UL.TabBarLevel1 LI.Selected A:hover {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: underline
}
UL.TabBarLevel1 LI.Selected A:active {
	FONT-WEIGHT: normal; COLOR: #fff; TEXT-DECORATION: underline
}
.submenu {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 24px; BACKGROUND-COLOR: #7cc2e9; TEXT-ALIGN: left
}
