.font12 {
	FONT-SIZE: 12px
}
.b {
	COLOR: #444444
}
.b A:link {
	COLOR: #444444; TEXT-DECORATION: none
}
.b A:visited {
	COLOR: #444444
}
.b A:hover {
	COLOR: #444444; TEXT-DECORATION: underline
}
.b A:active {
	COLOR: #444444
}
.b0 {
	COLOR: #000
}
.g {
	COLOR: #105cb6
}
.g2 {
	COLOR: #2d8931; LINE-HEIGHT: 170%
}
.g2 A:link {
	COLOR: #2d8931; TEXT-DECORATION: none
}
.g2 A:visited {
	COLOR: #71ac0a
}
.g2 A:hover {
	COLOR: #e45b00; TEXT-DECORATION: underline
}
.g2 A:active {
	COLOR: #2d8931
}
.g3 {
	COLOR: #e45b00
}
.b0 {
	FONT-SIZE: 12px; COLOR: #444
}
.b0 A:link {
	COLOR: #444; TEXT-DECORATION: none
}
.b0 A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
.b0 A:hover {
	COLOR: #e45b00; TEXT-DECORATION: underline
}
.b0 A:active {
	COLOR: #444
}
.b1 {
	COLOR: black
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #e45b00; LINE-HEIGHT: 160%; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px
}
.font16 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000
}
.prt {
	COLOR: #477a88
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 3px; COLOR: #59aa27
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #59aa27; PADDING-TOP: 2px
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN-BOTTOM: 3px
}
h7 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.b1 {
	COLOR: #365368
}
.zx12 {
	TEXT-DECORATION: line-through
}
.zx18 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff0000
}
.f14 {
	FONT-SIZE: 14px
}
.f28 {
	FONT-SIZE: 20px
}
.b4 {
	COLOR: #666
}
.fontwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline
}
.fontwhitesize14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
