 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "宋体"
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; COLOR: #16387c
}
A {
	COLOR: #16387c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	OVERFLOW: hidden
}
.clear {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 1px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
#content {
	MARGIN-LEFT: auto; WIDTH: 980px; MARGIN-RIGHT: auto
}
.underline A {
	TEXT-DECORATION: underline
}
A.udline {
	TEXT-DECORATION: underline
}
A.udlineRed {
	COLOR: #c00; TEXT-DECORATION: underline
}
.bor {
	BORDER-RIGHT: #6dbef7 1px solid; BORDER-TOP: #6dbef7 1px solid; BORDER-LEFT: #6dbef7 1px solid; BORDER-BOTTOM: #6dbef7 1px solid
}
.bor_gary {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; BORDER-BOTTOM: #b2b2b2 1px solid
}
.bor_green {
	BORDER-RIGHT: #9dca00 1px solid; BORDER-TOP: #9dca00 1px solid; BORDER-LEFT: #9dca00 1px solid; BORDER-BOTTOM: #9dca00 1px solid
}
.borNonetop {
	BORDER-RIGHT: #6dbef7 1px solid; BORDER-TOP: #6dbef7 1px; BORDER-LEFT: #6dbef7 1px solid; BORDER-BOTTOM: #6dbef7 1px solid
}
.bor_yellow {
	BORDER-RIGHT: #fa9a3c 1px solid; BORDER-TOP: #fa9a3c 1px solid; BORDER-LEFT: #fa9a3c 1px solid; BORDER-BOTTOM: #fa9a3c 1px solid
}
.bor_ora {
	BORDER-RIGHT: #fa693c 1px solid; BORDER-TOP: #fa693c 1px solid; BORDER-LEFT: #fa693c 1px solid; BORDER-BOTTOM: #fa693c 1px solid
}
.blank5 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 5px
}
.blank6 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 6px
}
.blank10 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 10px
}
.blank9 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 9px
}
.blank8 {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; HEIGHT: 8px
}
.mar10 {
	MARGIN-RIGHT: 10px
}
.mar6 {
	MARGIN-RIGHT: 6px
}
.center {
	MARGIN: 0px auto; TEXT-ALIGN: center
}
.fb {
	FONT-WEIGHT: bold
}
.floatLeft {
	FLOAT: left
}
.con374 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; WIDTH: 370px; PADDING-TOP: 1px
}
.con372 {
	FLOAT: left; WIDTH: 372px; MARGIN-RIGHT: 6px
}
.col370 {
	WIDTH: 370px
}
.con222 {
	FLOAT: left; WIDTH: 222px
}
.col220 {
	WIDTH: 220px
}
.col190 {
	MARGIN-TOP: 8px; MARGIN-LEFT: 13px; WIDTH: 190px; COLOR: #666
}
.col190 A {
	COLOR: #666
}
.con372FL {
	FLOAT: left; WIDTH: 372px
}
.area980 {
	WIDTH: 978px
}
.fra {
	CLEAR: both; BACKGROUND: #fff; MARGIN-BOTTOM: 6px; WIDTH: 980px
}
.area374 {
	WIDTH: 372px; MARGIN-RIGHT: 0px
}
.area220 {
	WIDTH: 218px
}
.fra374 {
	FLOAT: left; WIDTH: 374px; MARGIN-RIGHT: 6px
}
.fra220 {
	FLOAT: left; WIDTH: 220px
}
.fra760 {
	FLOAT: left; WIDTH: 760px
}
.fra754 {
	FLOAT: left; WIDTH: 754px; MARGIN-RIGHT: 6px
}
.area754 {
	WIDTH: 752px
}
.area510 {
	FLOAT: left; WIDTH: 510px; MARGIN-RIGHT: 6px
}
.area460 {
	FLOAT: left; WIDTH: 460px
}
.fra374_2 {
	FLOAT: left; WIDTH: 374px
}
.fra752 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; WIDTH: 750px; PADDING-TOP: 1px
}
.fra600 {
	FLOAT: left; WIDTH: 600px
}
.area598 {
	WIDTH: 598px
}
.enet752 {
	FLOAT: left; WIDTH: 752px; MARGIN-RIGHT: 6px
}
.ad750 {
	WIDTH: 750px
}
.fra750 {
	MARGIN: 1px; WIDTH: 748px
}
.hnfra528 {
	FLOAT: left; MARGIN: 0px 6px; WIDTH: 528px
}
.hnarea526 {
	WIDTH: 526px
}
.adv370 {
	MARGIN: 2px 1px; WIDTH: 370px; HEIGHT: 210px
}
.adv220 {
	WIDTH: 220px; HEIGHT: 160px
}
.adv220_2 {
	OVERFLOW: hidden; WIDTH: 220px; HEIGHT: 136px
}
.adv750 {
	BORDER-RIGHT: #6dbef7 1px solid; BORDER-TOP: #6dbef7 1px solid; FLOAT: left; BORDER-LEFT: #6dbef7 1px solid; WIDTH: 750px; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #6dbef7 1px solid
}
.hnadv220 {
	BORDER-RIGHT: #6dbef7 1px solid; BORDER-TOP: #6dbef7 1px solid; FLOAT: left; BORDER-LEFT: #6dbef7 1px solid; WIDTH: 218px; BORDER-BOTTOM: #6dbef7 1px solid
}
.logo {
	PADDING-LEFT: 13px; FLOAT: left; WIDTH: 201px; PADDING-TOP: 4px; HEIGHT: 80px
}
.logo_ul LI {
	PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 6px
}
.logo_ul LI A {
	COLOR: #000
}
.nav {
	FLOAT: left; WIDTH: 764px; PADDING-TOP: 4px
}
.nav_top {
	PADDING-LEFT: 26px; FONT-SIZE: 13px; BACKGROUND: url(/notebook/new_note/images/nav_03.jpg) repeat-x; WIDTH: 732px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.nav_top LI {
	PADDING-RIGHT: 7px; FLOAT: left
}
.nav_top LI A {
	COLOR: #fff
}
.nav_top LI A:visited {
	COLOR: #fff
}
.nav_top LI A:hover {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.nav_bg1 {
	BACKGROUND: url(/notebook/new_note/images/nav_bg_03.jpg) no-repeat left center; WIDTH: 758px
}
.nav_bg2 {
	BACKGROUND: url(/notebook/new_note/images/nav_bg_07.jpg) no-repeat right center; WIDTH: 758px
}
.nav_down LI {
	PADDING-RIGHT: 10px; FLOAT: left
}
.nav_down {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 8px
}
.nav_down A {
	COLOR: #000
}
.nav_down A:hover {
	COLOR: #cc0000
}
.nav_down LI.tit {
	PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(/notebook/new_note/images/nav_bt_10.jpg) no-repeat center center; WIDTH: 42px; LINE-HEIGHT: 17px; MARGIN-RIGHT: 7px; HEIGHT: 17px; TEXT-ALIGN: center
}
.nav_down LI.tit A {
	FONT-WEIGHT: bold; COLOR: #00337d
}
.nav_down1 LI {
	PADDING-RIGHT: 6px; FLOAT: left
}
.nav_down1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 1px
}
.nav_down1 A {
	COLOR: #000
}
.nav_down1 A:hover {
	COLOR: #cc0000
}
.nav_down1 LI.tit {
	PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(/notebook/new_note/images/nav_bt_10.jpg) no-repeat center center; WIDTH: 42px; LINE-HEIGHT: 17px; MARGIN-RIGHT: 7px; HEIGHT: 17px; TEXT-ALIGN: center
}
.nav_down1 LI.tit A {
	FONT-WEIGHT: bold; COLOR: #00337d
}
.banner {
	FLOAT: left; WIDTH: 750px; MARGIN-RIGHT: 6px
}
.ban_right {
	PADDING-LEFT: 10px; BACKGROUND: url(/notebook/new_note/images/ban_13.jpg) repeat-x; FLOAT: left; WIDTH: 210px; LINE-HEIGHT: 20px; PADDING-TOP: 7px; HEIGHT: 83px
}
.ban_right2 {
	FLOAT: left; WIDTH: 220px
}
.sub_nav {
	BACKGROUND: url(/notebook/new_note/images/sub_nav_18.jpg) repeat-x; HEIGHT: 51px
}
.sub_tit {
	FLOAT: left; WIDTH: 165px
}
.tit149 {
	WIDTH: 149px
}
.menu {
	PADDING-LEFT: 15px; BACKGROUND: url(/notebook/new_note/images/nav_bg_18.jpg) no-repeat left center; WIDTH: 795px; LINE-HEIGHT: 18px; PADDING-TOP: 8px; HEIGHT: 43px
}
.sub_ul1 LI {
	PADDING-RIGHT: 12px; FLOAT: left; COLOR: #a5e0ff
}
.sub_ul1 LI A {
	COLOR: #a5e0ff
}
.sub_ul1 LI A:hover {
	COLOR: #fff
}
.sub_ul2 {
	MARGIN-TOP: -8px
}
.sub_ul2 LI {
	PADDING-RIGHT: 12px; FLOAT: left; COLOR: #fff
}
.sub_ul2 LI.spec {
	BACKGROUND: url(/application/new_app/images/app_06.gif) no-repeat; WIDTH: 38px; HEIGHT: 19px; TEXT-ALIGN: center
}
.sub_ul2 LI A {
	COLOR: #fff
}
.sub_ul2 LI A:hover {
	COLOR: #ffcc00
}
.search {
	PADDING-LEFT: 18px; LINE-HEIGHT: 28px; LETTER-SPACING: 1px; HEIGHT: 28px; BACKGROUND-COLOR: #a5e0ff
}
.search .in1 {
	BORDER-RIGHT: #4ea3cc 1px; BORDER-TOP: #4ea3cc 1px solid; MARGIN-TOP: 3px; FLOAT: right; BORDER-LEFT: #4ea3cc 1px solid; WIDTH: 132px; PADDING-TOP: 3px; BORDER-BOTTOM: #4ea3cc 1px solid; HEIGHT: 17px
}
.search .in2 {
	MARGIN-TOP: 3px; FLOAT: right; MARGIN-RIGHT: 7px
}
.menu UL.hnnav LI {
	FLOAT: left; COLOR: #85e0ff; LINE-HEIGHT: 40px; MARGIN-RIGHT: 10px; HEIGHT: 40px
}
.menu UL.hnnav LI A {
	COLOR: #85e0ff
}
.sub184 {
	WIDTH: 184px
}
.menu776 {
	WIDTH: 776px
}
.ent_tit {
	FLOAT: left; WIDTH: 227px
}
.ent_menu {
	WIDTH: 730px
}
.ent_notice {
	BACKGROUND: url(/server/server_new/images/bg_06.gif) repeat-x; HEIGHT: 28px
}
.not_left {
	MARGIN-TOP: 10px; DISPLAY: inline; PADDING-LEFT: 17px; BACKGROUND: url(/server/server_new/images/lb.gif) no-repeat; FLOAT: left; MARGIN-LEFT: 15px; WIDTH: 727px
}
.not_left SPAN {
	FONT-WEIGHT: bold; COLOR: #6d6d6d; MARGIN-RIGHT: 13px
}
.not_sea .in1 {
	BORDER-RIGHT: #4ea3cc 1px; BORDER-TOP: #4ea3cc 1px solid; MARGIN-TOP: 3px; FLOAT: right; BORDER-LEFT: #4ea3cc 1px solid; WIDTH: 132px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #4ea3cc 1px solid; HEIGHT: 20px
}
.not_sea .in2 {
	MARGIN-TOP: 3px; FLOAT: right; MARGIN-RIGHT: 7px
}
.tit_con {
	MARGIN-BOTTOM: -5px; WIDTH: 372px; LINE-HEIGHT: 21px; PADDING-TOP: 11px; TEXT-ALIGN: center
}
.tit_red {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #cc0000
}
.tit_red A {
	COLOR: #cc0000
}
.tit_blue4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #0b86d4
}
.tit_blue4 A {
	COLOR: #0b86d4
}
.tit_blue {
	FONT-SIZE: 13px
}
.tit_blue3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.tit_blue3 A {
	COLOR: #1285d6
}
.tit_blue3 A:hover {
	COLOR: #1285d6
}
.line {
	CLEAR: both; MARGIN: 12px 14px; WIDTH: 342px; BORDER-BOTTOM: #6dbef7 1px dashed; HEIGHT: 0px
}
.ul1 {
	CLEAR: both; MARGIN-TOP: -3px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 8px; LINE-HEIGHT: 23px
}
.ul1 LI {
	DISPLAY: block; WIDTH: 342px; TEXT-ALIGN: right
}
.ul_tit1 {
	FONT-SIZE: 13px; FLOAT: left; COLOR: #666; WHITE-SPACE: nowrap
}
.ul_tit1 A {
	COLOR: #666
}
.ul_tit1 A:hover {
	COLOR: #cc0000
}
.ul_con1 {
	FONT-SIZE: 14px; FLOAT: left; WHITE-SPACE: nowrap
}
.ul_time1 {
	FONT-SIZE: 14px; COLOR: #666; WHITE-SPACE: nowrap
}
.ul_line {
	FLOAT: left; COLOR: #666
}
.sub_search {
	PADDING-LEFT: 15px; HEIGHT: 79px
}
.ul2 {
	MARGIN-TOP: 7px; FONT-SIZE: 13px; LINE-HEIGHT: 18px
}
.ul3 {
	MARGIN-TOP: 6px; DISPLAY: block; WIDTH: 342px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.ul3 .in3 {
	BORDER-RIGHT: #4ea3cc 1px; BORDER-TOP: #4ea3cc 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #4ea3cc 1px solid; WIDTH: 202px; COLOR: #666; LINE-HEIGHT: 18px; BORDER-BOTTOM: #4ea3cc 1px solid; HEIGHT: 18px
}
.ul3 .in4 {
	VERTICAL-ALIGN: middle
}
.p_look {
	WIDTH: 372px; HEIGHT: 139px; BACKGROUND-COLOR: #e5f6ff
}
.tit2 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/notebook/new_note/images/tit_bg_03.jpg) repeat-x; LINE-HEIGHT: 20px; BORDER-BOTTOM: #6dbef7 1px solid; HEIGHT: 20px
}
.ul4 {
	CLEAR: both; MARGIN-TOP: 9px; PADDING-LEFT: 15px; WIDTH: 342px; LINE-HEIGHT: 18px
}
.ul4 LI {
	PADDING-RIGHT: 5px; FLOAT: left
}
.line2 {
	CLEAR: both; BACKGROUND: url(/notebook/new_note/images/line_07.jpg) repeat-x; MARGIN-LEFT: 15px; WIDTH: 342px; HEIGHT: 1px
}
.tit3 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/notebook/new_note/images/tit_03.jpg) repeat-x; COLOR: #000; LINE-HEIGHT: 27px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 27px
}
.pic_con1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 12px
}
.pic_con1 IMG {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; BORDER-LEFT: #b2b2b2 1px solid; MARGIN-RIGHT: 8px; PADDING-TOP: 1px; BORDER-BOTTOM: #b2b2b2 1px solid
}
.tit_red2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc0000; PADDING-TOP: 8px
}
.tit_red2 A {
	COLOR: #cc0000
}
.more A {
	MARGIN-TOP: -20px; FLOAT: right; COLOR: #999; MARGIN-RIGHT: 12px; TEXT-DECORATION: underline
}
.ul5 {
	MARGIN-TOP: 2px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 6px; LINE-HEIGHT: 21px
}
.ul5 LI {
	PADDING-LEFT: 5px; BACKGROUND: url(/notebook/new_note/images/li_03.jpg) no-repeat 0px 8px
}
.ul5 A {
	COLOR: #000
}
.ul5 A:hover {
	COLOR: #cc0000
}
.h_mid {
	MARGIN-TOP: 11px
}
.tit4 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #fff; LINE-HEIGHT: 32px; HEIGHT: 32px; BACKGROUND-COLOR: #1994e4
}
.tit4 A {
	COLOR: #fff
}
.tit4 A:hover {
	COLOR: #fff
}
.f2_news {
	PADDING-LEFT: 128px; FONT-WEIGHT: 400; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.f2_news A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.ul6 {
	CLEAR: both; PADDING-LEFT: 15px; COLOR: #000; LINE-HEIGHT: 20px
}
.ul6 LI {
	PADDING-RIGHT: 10px; FLOAT: left
}
.ul6 A {
	COLOR: #000
}
.tit5 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/notebook/new_note/images/tit_07.jpg) repeat-x; LINE-HEIGHT: 26px; BORDER-BOTTOM: #6dbef7 1px solid; HEIGHT: 26px
}
.sub_tit2 {
	PADDING-RIGHT: 12px; FONT-WEIGHT: 400; FONT-SIZE: 12px; FLOAT: right
}
.adv340 {
	MARGIN-TOP: 12px; MARGIN-LEFT: auto; WIDTH: 340px; MARGIN-RIGHT: auto; HEIGHT: 60px
}
.ul7 {
	CLEAR: both; MARGIN-TOP: 5px; FONT-SIZE: 14px; MARGIN-BOTTOM: 6px; MARGIN-LEFT: 15px; WIDTH: 342px; LINE-HEIGHT: 23px; TEXT-ALIGN: right
}
.ul7 LI {
	PADDING-LEFT: 9px; BACKGROUND: url(/notebook/new_note/images/li_11.jpg) no-repeat left center
}
.ul_con2 {
	FLOAT: left
}
.ul_time2 {
	COLOR: #666
}
.ul_con3 {
	PADDING-LEFT: 23px; FLOAT: left; COLOR: #000; WHITE-SPACE: nowrap
}
.ul_con3 A {
	COLOR: #000
}
.ul_con3 A:hover {
	COLOR: #cc0000
}
.ul_time3 {
	COLOR: #cc0000; WHITE-SPACE: nowrap
}
.ul8 LI {
	CLEAR: both
}
.ul8 {
	MARGIN-TOP: 5px; BACKGROUND: url(/notebook/new_note/images/li_07.jpg) no-repeat left 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 15px; WIDTH: 188px; LINE-HEIGHT: 23px; TEXT-ALIGN: right
}
.adv485l {
	FLOAT: left; WIDTH: 485px; MARGIN-RIGHT: 6px
}
.adv485r {
	FLOAT: left; WIDTH: 485px
}
.pic_con2 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; WIDTH: 342px; COLOR: #666; LINE-HEIGHT: 20px; PADDING-TOP: 12px; HEIGHT: 110px
}
.pic_con2 IMG {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; BORDER-LEFT: #b2b2b2 1px solid; MARGIN-RIGHT: 15px; PADDING-TOP: 1px; BORDER-BOTTOM: #b2b2b2 1px solid
}
.tit_blue2 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 6px; OVERFLOW: hidden; WIDTH: 200px; COLOR: #16387c; HEIGHT: 14px
}
.more2 A {
	MARGIN-TOP: -20px; FLOAT: right; COLOR: #43adf8; MARGIN-RIGHT: 20px; TEXT-DECORATION: underline
}
.adv750 {
	WIDTH: 750px
}
.font_blue {
	COLOR: #0033cc
}
.ul_con4 {
	PADDING-LEFT: 23px; WIDTH: 157px; COLOR: #000; TEXT-ALIGN: left
}
.ul_con4 LI {
	DISPLAY: block; OVERFLOW: hidden; HEIGHT: 23px
}
.ul_con4 A {
	COLOR: #000
}
.ul_con4 A:hover {
	COLOR: #cc0000
}
.sub_tit3 {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; FLOAT: right; MARGIN-RIGHT: 10px
}
.sub_tit3 A {
	COLOR: #000
}
.pic_con3 {
	MARGIN-TOP: 12px; FLOAT: left; WIDTH: 149px; MARGIN-RIGHT: 11px; TEXT-ALIGN: center
}
.pic_con3 IMG {
	BORDER-RIGHT: #93d2ff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #93d2ff 1px solid; PADDING-LEFT: 1px; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 1px; BORDER-LEFT: #93d2ff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #93d2ff 1px solid
}
.xj {
	FONT-SIZE: 14px; COLOR: #fff; PADDING-TOP: 9px; HEIGHT: 48px; BACKGROUND-COLOR: #1a95e6
}
.xj A {
	COLOR: #fff
}
.xj A.underline {
	PADDING-RIGHT: 13px; FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: underline
}
.xj A:hover {
	COLOR: #f1fa00
}
.ul9 {
	CLEAR: both; PADDING-LEFT: 15px; LINE-HEIGHT: 20px
}
.ul9 LI {
	PADDING-RIGHT: 11px; FLOAT: left
}
.line_gary {
	MARGIN-TOP: -3px; MARGIN-LEFT: 12px; MARGIN-RIGHT: 12px; BORDER-BOTTOM: #c1c1c1 1px dashed; HEIGHT: 1px
}
.contact {
	PADDING-LEFT: 15px; WIDTH: 203px; LINE-HEIGHT: 18px; PADDING-TOP: 8px; HEIGHT: 59px
}
.ul10 {
	MARGIN-TOP: 2px; PADDING-LEFT: 15px; PADDING-BOTTOM: 6px; WIDTH: 188px; LINE-HEIGHT: 21px; WHITE-SPACE: nowrap
}
.ul10 A {
	PADDING-LEFT: 8px; BACKGROUND: url(/notebook/new_note/images/li_03.jpg) no-repeat 0px 4px; COLOR: #000
}
.ul10 A:hover {
	PADDING-LEFT: 8px; BACKGROUND: url(/notebook/new_note/images/lio_03.jpg) no-repeat 0px 4px; COLOR: #ff9900
}
.tit_news {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.tit_news A {
	DISPLAY: block; PADDING-LEFT: 27px; FLOAT: left; TEXT-DECORATION: underline
}
.tit_bold A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tit_bold A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tit_bold {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.tit_link {
	BACKGROUND: url(/notebook/new_note/images/tit_bg_07.jpg) repeat-x; HEIGHT: 26px
}
.link_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/notebook/new_note/images/tit_l_07.jpg) no-repeat; WIDTH: 90px; COLOR: #fff; PADDING-TOP: 4px; HEIGHT: 22px; TEXT-ALIGN: center
}
.link LI {
	FLOAT: left; WIDTH: 105px
}
.link {
	CLEAR: both; PADDING-LEFT: 15px; LINE-HEIGHT: 22px
}
.link_con {
	PADDING-TOP: 5px
}
.link IMG {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 5px
}
.bottom {
	CLEAR: both; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 111px; WIDTH: 980px; PADDING-TOP: 27px
}
.bottom_about {
	FLOAT: left; PADDING-BOTTOM: 11px; WIDTH: 980px; COLOR: #000; HEIGHT: 12px; TEXT-ALIGN: center
}
.bottom_about A:link {
	COLOR: #153b7c
}
.bottom_about A:visited {
	COLOR: #153b7c
}
.bottom_left {
	CLEAR: both; FLOAT: left; MARGIN-LEFT: 128px; WIDTH: 363px; COLOR: #000; LINE-HEIGHT: 18px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.bottom_left IMG {
	MARGIN-TOP: -4px; VERTICAL-ALIGN: middle
}
.bottom_left A:link {
	COLOR: #000
}
.bottom_left A:visited {
	COLOR: #000
}
.bottom_right {
	FLOAT: left; WIDTH: 80px
}
.enet_sechead_nav {
	BORDER-RIGHT: #6dbef6 1px solid; BORDER-TOP: #6dbef6 1px solid; BACKGROUND: #e4f5ff; MARGIN: 0px auto; BORDER-LEFT: #6dbef6 1px solid; WIDTH: 978px; BORDER-BOTTOM: #6dbef6 1px solid
}
.enet_sechead_navlogo {
	PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 14px; WIDTH: 187px; PADDING-TOP: 18px
}
.sec_fla_logo {
	WIDTH: 180px; HEIGHT: 50px
}
.sec_fla_logo_bot {
	MARGIN-TOP: 9px; PADDING-LEFT: 5px; MARGIN-LEFT: 10px; WIDTH: 175px; HEIGHT: 18px
}
.sec_fla_logo_bot LI {
	FLOAT: left; WIDTH: 32px
}
.sec_fla_logo_bot LI.wo {
	FLOAT: left; WIDTH: 3px; MARGIN-RIGHT: 8px; PADDING-TOP: 2px
}
.sec_fla_logo_bot LI A {
	FONT-WEIGHT: bold; COLOR: #123a78; LINE-HEIGHT: 18px
}
.sec_fla_logo_bot LI A:hover {
	FONT-WEIGHT: bold; COLOR: #123a78; LINE-HEIGHT: 18px
}
.pd2_navbg {
	MARGIN-TOP: 2px; PADDING-LEFT: 9px; BACKGROUND: url(/i/images/bg/secpd_nav_04.gif) no-repeat; FLOAT: left; WIDTH: 771px; PADDING-TOP: 12px; HEIGHT: 95px
}
.pd2_navbg LI {
	FLOAT: left; MARGIN: 0px 4px 3px 0px; LINE-HEIGHT: 18px; HEIGHT: 19px
}
.pd2_navbg LI.menubg {
	BACKGROUND: url(/i/images/bg/index_36.gif) no-repeat; WIDTH: 58px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
.pd2_navbg LI.menubg2 {
	BACKGROUND: url(/i/images/bg/index_38.gif) no-repeat; WIDTH: 62px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
.pd2_navbg LI.menubg3 {
	BACKGROUND: url(/i/images/bg/nav_07bg.gif) no-repeat; WIDTH: 33px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
.pd2_navbg LI.menubg4 {
	BACKGROUND: url(/i/images/bg/index_37.gif) no-repeat; WIDTH: 70px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
.pd2_navbg LI.menu_margin {
	MARGIN-RIGHT: 5px
}
.pd2_navbg LI.menu_margin2 {
	MARGIN-RIGHT: 7px
}
.pd2_navbg LI A {
	COLOR: #000
}
.pd2_navbg LI A:hover {
	COLOR: #000
}
.spec_nav_mar {
	CLEAR: both; MARGIN-BOTTOM: 3px; WIDTH: 771px
}
.spec_nav_mar LI {
	MARGIN-RIGHT: 7px
}
.spec_nav_mar2 LI {
	MARGIN-RIGHT: 6px
}
.work_main {
	BACKGROUND: #a5e0fe
}
.tit6 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/server/server_new/images/serheadbg.gif) repeat-x; LINE-HEIGHT: 27px; HEIGHT: 25px
}
.tit7 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/server/server_new/images/serheadbg2.gif) repeat-x; COLOR: #000; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.vc_pic1 {
	FLOAT: left; MARGIN: 12px 6px 14px 8px; WIDTH: 164px; COLOR: #646464; TEXT-ALIGN: center
}
.vc_pic1 A {
	COLOR: #646464
}
.vc_pic1 IMG {
	BORDER-RIGHT: #6dbef5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #6dbef5 1px solid; PADDING-LEFT: 1px; MARGIN-BOTTOM: 9px; PADDING-BOTTOM: 1px; BORDER-LEFT: #6dbef5 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #6dbef5 1px solid
}
.sec_tit3 {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 13px; LINE-HEIGHT: 25px; HEIGHT: 25px; BACKGROUND-COLOR: #e7f5ff
}
.sec_ul7 {
	PADDING-LEFT: 20px; FONT-SIZE: 14px; WIDTH: 288px; LINE-HEIGHT: 23px; TEXT-ALIGN: right
}
.margint0 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 8px
}
.lxus {
	MARGIN-TOP: 8px; MARGIN-LEFT: 9px; WIDTH: 202px
}
.lxus P {
	COLOR: #1285d6; LINE-HEIGHT: 22px
}
.lxus P A {
	COLOR: #1285d6
}
.lxus P A:hover {
	COLOR: #cc0000
}
.hnlnav {
	PADDING-RIGHT: 0px; FLOAT: right
}
.hnlnav LI {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; MARGIN-RIGHT: 5px
}
.page_sel {
	MARGIN-TOP: 22px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 42px; WIDTH: 455px
}
.page_sel LI {
	FLOAT: left; MARGIN-RIGHT: 7px; PADDING-TOP: 8px
}
.tiaozhuan {
	MARGIN-TOP: -4px; MARGIN-LEFT: 8px; HEIGHT: 33px
}
.tiaozhuan SELECT {
	MARGIN: 0px 5px; VERTICAL-ALIGN: middle
}
.dcmartop UL.ul6 {
	LINE-HEIGHT: 29px
}
.aboutus {
	PADDING-LEFT: 13px; PADDING-BOTTOM: 5px; COLOR: #1285d6; LINE-HEIGHT: 18px; PADDING-TOP: 6px
}
.headbg {
	BACKGROUND: url(/server/server_new/images/hbg_07.gif) repeat-x; HEIGHT: 29px
}
.garyleft {
	BACKGROUND: url(/server/server_new/images/r220bg.gif) repeat-x; HEIGHT: 29px
}
.hbg_left {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/server/server_new/images/hbg_left.gif) no-repeat left top; FLOAT: left; WIDTH: 95px; PADDING-TOP: 5px; HEIGHT: 24px
}
.hbg_left IMG {
	MARGIN-TOP: -2px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.hbg_left2 {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/oa/oa_new/images/oa_03bg.gif) no-repeat left top; FLOAT: left; WIDTH: 103px; PADDING-TOP: 5px; HEIGHT: 24px
}
.hbg_left2 IMG {
	MARGIN-TOP: -2px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.pro_left {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/notebook/zhuanti/thinkpad_new/images/tit110.gif) no-repeat center 50%; FLOAT: left; WIDTH: 110px; PADDING-TOP: 5px; HEIGHT: 24px; TEXT-ALIGN: center
}
.ly {
	COLOR: #5a5a5a; LINE-HEIGHT: 20px
}
.ly TD {
	PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BORDER-BOTTOM: #b8b8b8 1px dashed
}
.font_red {
	COLOR: #c00
}
.font_red A {
	COLOR: #c00
}
.font_red A:hover {
	COLOR: #c00
}
.font_black {
	COLOR: #000
}
.font_black A {
	COLOR: #000
}
.font_yellow {
	COLOR: #ffcc00
}
.font_blue {
	COLOR: #1285d6
}
.font_blue A {
	COLOR: #1285d6
}
.font_blue A:hover {
	COLOR: #1285d6
}
A.font_blue {
	COLOR: #1285d6
}
.font_gary {
	FONT-WEIGHT: normal; COLOR: #676966
}
.font_gary A {
	FONT-WEIGHT: normal; COLOR: #676966
}
A.artfont_blue {
	COLOR: #113583
}
.font_white {
	COLOR: #fff
}
.font_white LI {
	COLOR: #fff
}
.font_white LI A {
	COLOR: #fff
}
.font_white LI A:hover {
	COLOR: #fc0
}
